html,body{
  margin:0 auto;
  font-family:Arial;
}

.container{
  display:flex;
  padding:10px;
}

.center{
  justify-content:center;
  align-items:center;
}

nav{
  background-color:darkslategray;
}

nav a{
  color:white;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
}

nav a:hover{
  color:lightgray;
}

.subbanner{
  background-color:darkslategray;
}

#banner{
  background-color:#1f4e79;
  color:white;
}

#footer{
  background-color:#1f4e79;
  color:white;
  /*position:fixed;*/
  left: 0;
  right: 0;
  bottom:0px;
}

.card{
  flex:1 0 250px;
  margin:10px;
  padding:10px;
  border:1px solid #444;
  text-align:center;
}

.highlight{
  font-style:italic;
  color:#1f4e79;
}

.heading{
  font-weight:bold;
}

.button{
  text-decoration:none;
  background-color:#1f4e79;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
}

.button:hover{
  background-color:steelblue;
}

#output{
  display:flex;
  flex-direction:column;
}

.fit{
  width:150px;
  height:150px;
  object-fit:contain;
}

#result{
  background-color:lightgray;
  color:#1f4e79;
  max-width: 200px;
  font-size: 20px;
}

#leftPanel{
  width:100%;
  display:flex;
  flex-wrap:wrap;
}